# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Environment
venv/
ENV/
env/
.env
.env.local

# ML Models & Binary Assets
runs/
*.pt
*.onnx
*.weights
*.pth
yolo*.pt
best.onnx

# Datasets
data/images/
data/labels/
*.zip
*.tar.gz

# IDEs
.vscode/
.idea/
*.swp
